<a href="https://colab.research.google.com/github/rcruzalegui/IST_718/blob/master/Week2_IST718.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd  # data frame operations
import numpy as np  # arrays and math functions
import matplotlib.pyplot as plt  # 2D plotting
import seaborn as sns  # PROVIDES TRELLIS AND SMALL MULTIPLE PLOTTING

In [10]:
!ls "/content/drive/My Drive"

 10301821DayMealPlan.pdf
 Aravind.pdf
 Coaches9.csv
'Colab Notebooks'
'Copy of Data Journal: Journal Entry Templates.gdoc'
'Copy of ORJ - FIRE Workbook (Google Sheet Version) - A step-by-step guide to RETIRING EARLY.gsheet'
'InfoGram Demo'
 MARKETINGMYOPIA.pdf
'Untitled Diagram.drawio'
'Untitled drawing.gdraw'
'Untitled spreadsheet.gsheet'
 VQ_SHARE
 Week2_IST718.ipynb

In [8]:
dodgers = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Data/dodgers.csv")

In [11]:
dodgers.shape

(81, 12)

In [12]:
dodgers.head

<bound method NDFrame.head of    month  day  attend day_of_week  ... cap  shirt fireworks bobblehead
0    APR   10   56000     Tuesday  ...  NO     NO        NO         NO
1    APR   11   29729   Wednesday  ...  NO     NO        NO         NO
2    APR   12   28328    Thursday  ...  NO     NO        NO         NO
3    APR   13   31601      Friday  ...  NO     NO       YES         NO
4    APR   14   46549    Saturday  ...  NO     NO        NO         NO
..   ...  ...     ...         ...  ...  ..    ...       ...        ...
76   SEP   29   40724    Saturday  ...  NO     NO        NO         NO
77   SEP   30   35607      Sunday  ...  NO     NO        NO         NO
78   OCT    1   33624      Monday  ...  NO     NO        NO         NO
79   OCT    2   42473     Tuesday  ...  NO     NO        NO         NO
80   OCT    3   34014   Wednesday  ...  NO     NO        NO         NO

[81 rows x 12 columns]>

In [19]:
dodgers.columns
dodgers[["attend"]].describe()
print(dodgers.describe())

             day        attend       temp
count  81.000000     81.000000  81.000000
mean   16.135802  41040.074074  73.148148
std     9.605666   8297.539460   8.317318
min     1.000000  24312.000000  54.000000
25%     8.000000  34493.000000  67.000000
50%    15.000000  40284.000000  73.000000
75%    25.000000  46588.000000  79.000000
max    31.000000  56000.000000  95.000000